http://scrape-space.tech {
	rewrite /api /api/
	handle_path /api/* {
		reverse_proxy scrape_space_backend:8080
	}
	handle {
		root * /var/www

		@brotli {
			path *.br
		}

		header @brotli Content-Type br

		try_files {path} index.html
		file_server
	}
}
