http://scrape-space.tech {
	rewrite /api /api/
	handle_path /api/* {
		reverse_proxy scrape_space_backend:8080
	}
	handle {
		root * /var/www

		@brotli {
			file {
				try_files {path}.br
			}
		}
		handle @brotli {
			header Content-Encoding br
			rewrite * {http.matchers.file.relative}
		}
		try_files {path} index.html
		file_server
	}
}
